.sidebar{
    background-color: hsl(0, 0%, 100%);
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 72px;
    z-index: 105;
    padding-top: 5px;
   
}
.sidebar-link{
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: hsl(0, 0%, 85%);
}
.sidebar img{
    height: 24px;
    margin-bottom: 5px;
}
.sidebar div{
    text-transform: capitalize;
    font-family: Roboto, Arial, sans-serif;
    font-size: 10px;
    font-weight: 500;
    
    
}